[submodule "realworld-rust-backend"]
	path = realworld-backend
	url = git@github.com:linyisu/realworld-rust-backend.git
[submodule "vue3-realworld-example-app"]
	path = realworld-frontend
	url = https://github.com/mutoe/vue3-realworld-example-app.git
